<% if @stage_menu.empty? %>
  <p><%= link_to 'Deploy', new_project_stage_deployment_path(current_project, @stage) + '?task=deploy', :class => 'arrow_link' %></p>
  <p><%= link_to 'Deploy and migrate', new_project_stage_deployment_path(current_project, @stage) + '?task=deploy:migrations', :class => 'arrow_link' %></p>
  <p><%= link_to 'Restart app servers', new_project_stage_deployment_path(current_project, @stage) + '?task=deploy:restart', :class => 'arrow_link' %></p>
  <p><%= link_to 'Setup', new_project_stage_deployment_path(current_project, @stage) + '?task=deploy:setup', :class => 'arrow_link' %></p>
  <% else %>
    <% @stage_menu.each do |item| %>
      <p><%= link_to item[:display], new_project_stage_deployment_path(current_project, @stage) + "?task=#{item[:name]}", :class => 'arrow_link' %></p>
    <% end %>
<% end %>
